* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h3, h2 {
	font-family: 'Montserrat', sans-serif;
}
.inner h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    text-align: center;
}
/* logo */
.maininfo {
    display: flex;
    justify-content: center;
    background-color: #FAEBD7;
}
.logo {
    width: 75px;
    height: 75px;
}
.site-info {
    margin: 1em .7em;
} 
.sitetitle {
     font-weight: bolder;
}
/* navigation */
nav {
	margin: 0 auto;
	line-height: 2.3em;
	font-family: 'Open Sans', sans-serif;
}
.navigation {
    list-style: none;
    padding: 0;
}

.navigation a {
    background-color: #36454f;
    display: block;
    text-align: center;
    padding: .8rem 2%;
    font-weight: bold;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
nav ul li a:hover {
    background-color: rgb(187, 187, 189);
    color: #fff;
}

nav ul li.active a {
    background-color: rgb(187, 187, 187);
    color: #fff;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}  
/* .main-header {
	display: flex;
    justify-content: space-between;
    background-color: #FAEBD7;
} */
.gallery img {
   display: block;
   margin-left: auto;
   margin-right: auto;       
}
.container {
    text-align: center;
    border: 2px solid #eee;
    background-color: #F0FFFF;
    max-width: 100px 100px;
    margin: 1em auto;
    
}
@media (min-width:768px) {
    .navigation {
        display: flex;
   }
    
   .navigation li {
        display: block;
        flex: 1 1 auto;
   }
    
   .navigation a {
        text-align: center;
   }
    
   .navigation li:first-child {
        display: none;
   }
    
   .navigation a:hover {
       color: white;
   }
}

