* {  margin:0;
    padding:0;
    box-sizing: border-box;
 }
h1 {
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
/* logo */
.maininfo {
    display: flex;
    justify-content: center;
    background-color: #FAEBD7;
}
 
.logo {
    width: 75px;
    height: 75px;
}
 
.slogan {
     text-align: center;
}
 
.site-info {
    margin: 1em .7em;
}
 
.sitetitle {
     font-weight: bold;
     color: yellowgreen;
}
nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Open Sans', sans-serif;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
/* .main-header {
	display: flex;
    justify-content: space-between;
    background-color: #FAEBD7;
} */
/*color*/
.primary {
    background-color: #FAEBD7;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}
  
.secondary {
    background-color: #36454f;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}
.Style1 {
    background-color: #bbb;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}
.Style2 {
    background-color: #F0FFFF;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
}
.color-container {
    display: grid;
    max-width: 80%;
    margin: 2em auto;
    grid-gap: 2em;
}
@media (min-width:768px) {
	ul {
		display: flex;
	}
}

