* {  margin:0;
    padding:0;
    box-sizing: border-box;
 }
h1, h2 {
	font-family: 'Ubuntu', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
/* logo */
.maininfo {
    display: flex;
    justify-content: center;
    background-color: #FAEBD7;
}
 
.logo {
    width: 75px;
    height: 75px;
}
 
.slogan {
     text-align: center;
}
 
.site-info {
    margin: 1em .7em;
}
 
.sitetitle {
     font-weight: bold;
}
/* navigation */
nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
	margin: 0 auto;
	line-height: 2.3em;
	font-family: 'Open Sans', sans-serif;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
.navigation {
    list-style: none;
    padding: 0;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
.info {
	background-color: #F0FFFF;
}
/*footer*/
footer {
	background-color:  #FAEBD7;;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}
@media (min-width:768px) {
	ul {
		display: flex;
	}
}


