* {  margin:0;
    padding:0;
    box-sizing: border-box;
 }

h1, h3 {
	font-family: 'Montserrat', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
/* logo */
.maininfo {
    display: flex;
    justify-content: center;
    background-color: #FAEBD7;
}
 
.logo {
    width: 75px;
    height: 75px;
}
 
.slogan {
     text-align: center;
}
 
.site-info {
    margin: 1em .7em;
}
 
.sitetitle {
     font-weight: bolder;
}
/* navigation */
nav {
	margin: 0 auto;
	line-height: 2.3em;
	font-family: 'Open Sans', sans-serif;
}
.navigation {
    list-style: none;
    padding: 0;
}

.navigation a {
    background-color: #36454f;
    display: block;
    text-align: center;
    padding: .8rem 2%;
    font-weight: bold;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
nav ul li a:hover {
    background-color: rgb(187, 187, 189);
    color: #fff;
}

nav ul li.active a {
    background-color: rgb(187, 187, 187);
    color: #fff;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
} 
.typography {
	text-align: center;
}
@media (min-width:768px) {
	.navigation {
		display: flex;
   }
	
   .navigation li {
		display: block;
		flex: 1 1 auto;
   }
	
   .navigation a {
		text-align: center;
   }
	
   .navigation li:first-child {
		display: none;
   }
	
   .navigation a:hover {
	   color: white;
   }
}

